{{#packageName}}package {{packageName}};

{{/packageName}}import io.ringloom.framework.RingloomRuntime;
import io.ringloom.framework.dispatch.MessageContext;
import io.ringloom.framework.request.PendingRequest;
import io.ringloom.framework.request.RequestAwaiter;
import io.ringloom.framework.request.RequestTimeout;
import io.ringloom.framework.request.RingloomRequestException;
import io.ringloom.framework.serialization.EncodeContext;
import io.ringloom.framework.serialization.DecodeContext;
import io.ringloom.framework.serialization.MessageEncoder;
import io.ringloom.framework.serialization.MessageDecoder;
import io.ringloom.framework.serialization.SerializerRegistry;
import io.ringloom.framework.status.RingloomHandlerStatus;
import io.ringloom.service.BufferClaim;
import io.ringloom.service.RingloomStatus;
import java.lang.foreign.MemorySegment;
import java.lang.foreign.ValueLayout;

public final class {{generatedName}} implements {{simpleName}} {
  private final RingloomRuntime runtime;
  private final io.ringloom.service.RingloomClient lowLevelClient;
  private final SerializerRegistry serializers;
  private final ThreadLocal<BufferClaim> claims;
  private final ThreadLocal<EncodeContext> encodeContexts = ThreadLocal.withInitial(EncodeContext::new);
  private final ThreadLocal<DecodeContext> decodeContexts = ThreadLocal.withInitial(DecodeContext::new);

  public {{generatedName}}(
      RingloomRuntime runtime,
      io.ringloom.service.RingloomClient lowLevelClient,
      SerializerRegistry serializers) {
    this.runtime = java.util.Objects.requireNonNull(runtime, "runtime");
    this.lowLevelClient = java.util.Objects.requireNonNull(lowLevelClient, "lowLevelClient");
    this.serializers = java.util.Objects.requireNonNull(serializers, "serializers");
    this.claims = ThreadLocal.withInitial(lowLevelClient::newClaim);
  }
{{{methodSources}}}
}
